//base
@use 'base/variables' as *;
@use 'base/mixins' as *;

@use "sass:meta";
@use 'libs/bootstrap-reboot.min';
@use 'libs/tiny-slider';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

// body {
//     overflow: hidden;
// }

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    background-color: #fff;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

//blocks
@include meta.load-css('blocks/title');
@include meta.load-css('blocks/button');
@include meta.load-css('blocks/divider');
@include meta.load-css('blocks/sidepanel');
// @import 'blocks/nav';
@include meta.load-css('blocks/menu');
@include meta.load-css('blocks/promo');
@include meta.load-css('blocks/about');
@include meta.load-css('blocks/resume');
@include meta.load-css('blocks/skills');
@include meta.load-css('blocks/portfolio');
@include meta.load-css('blocks/price-list');
@include meta.load-css('blocks/contacts');
@include meta.load-css('blocks/policy');

@include meta.load-css('blocks/media');