.sidepanel {
	display: flex;
	align-items: center;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
	top: 226px;
	left: 50px;

	&__social-wrapper {
		display: flex;
		flex-direction: column;
	}

	&__link {
		margin-top: 15px;

		path {
			transition: fill .2s;
		}

		&:hover {
			path {
				fill: $main-color;
			}
		}

		&:first-child {
			margin-top: 0;
		}
	}

	&__divider {
		margin-top: 15px;
		border: none;
		width: 2px;
		height: 70px;
		background-color: #000;
		color: #000;
	}

	&__title {
		margin-top: 15px;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}
}